html{
  font-size: 120%;
}

html, body{
  height: 100%;
  overflow-x: hidden;
}

body {
    font-family: "Crimson Text", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
    perspective: 6px;
    perspective-origin: 50% 160px;
}

main{
  float: left;
  width: 85%;
}

h1, h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h2{
  clear: both;
}

.titulo {
    font-size: 300%;
    text-align: center;
    background-color: #009933;
    color: #FFF;
    padding: 1.25rem;
    margin: 0px;
    border-bottom: 0.5rem solid black;
    text-transform: uppercase;
}

.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

main h2{
  font-size: 30px;
}

.conteudo-principal{
   width: 720px;
   margin: auto;
   padding: 40px 0;
   padding-bottom: 150px;
}

main a{
  color: #16942d
}

p {
    text-align: justify;
    font-family: "Crimson Text";
    margin: 20px 0px;
}

aside {
    background-color: #27794c;
    border-left : 10px solid #000000;
    border-bottom : 10px solid #000000;
    border-top : 10px solid #000000;
    color: #F2FFFC;
    padding: 20px;
    text-align: center;
    float: right;
    clear: right;
    width: 15%;
    box-sizing: border-box;
    position: relative;
    top: 310px;
}

.foto-perfil{
    float: right;
    box-sizing: border-box;
    border-left : 10px solid #000000;
    border-bottom : 10px solid #000000;
    background-color: #009933;
    max-width:320px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    right: 0px;
}

aside h1{
    font-size: 30px;
    margin-bottom: 25px;
}

aside a{
  color: inherit;
  font-family: "Open Sans Condensed", sans-serif;
}

nav a {
    color: #000000;
    text-decoration:none;
}

.icones-sociais li{
  display: inline-block;
  color: #FFFFFF;
}

.icones-sociais a{
  text-decoration:none;
  width: 40px;
  height: 40px;
  display: inline-block;
  color: #FFFFFF;
  text-indent: -9999px;
}
.github-icone{
  background-image: url(imagens/github.png);
}

.twitter-icone{
  background-image: url(imagens/twitter.png);
}

.linkedin-icone{
  background-image: url(imagens/linkedin.png);
}

footer {
    background-color: #000;
    color: #F2FFFC;
    padding: 20px;
    clear: both;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}
